* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(road.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
}

.login-box {
  text-align: center;
}

img {
  width: 200px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: skyblue;
  margin-right: 210px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: none;
}

.google-login {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}